[Unit]
Description=pseriescollector Agent
Documentation=http://github.com/adejoux/pSeriesCollector
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/default/pseriescollector
User=resist
Group=resist
Type=simple
Restart=on-failure
WorkingDirectory=/usr/share/pseriescollector
ExecStart=/usr/sbin/pseriescollector                    \
                            --pidfile=${PID_FILE}     \
                            --config=${CONF_FILE}     \
                            --logs=${LOG_DIR}         \
                            --home=${HOME_DIR}        \
                            --data=${DATA_DIR}
LimitNOFILE=10000
TimeoutStopSec=20
UMask=0027

[Install]
WantedBy=multi-user.target
