<h2>{{defaultConfig.name}}</h2>
<!--test-connection-modal #viewTestConnectionModal titleName='Test connection for:'>
</test-connection-modal-->
<ng-container [ngSwitch]="editmode">
  <ng-template ngSwitchCase="list">
    <div class="row">
      <div class="col-md-9 text-left">
        <label [tooltip]="'Refresh'" container="body" style="margin-top:10px; border-right: 1px solid; padding-right: 5px;">
          <i class="glyphicon glyphicon-refresh" (click)="reloadData()"></i>
        </label>
        <label [tooltip]="'Clear Filter'" container="body" (click)="onResetFilter()" style="margin-top: 10px">
          <i class="glyphicon glyphicon-trash text-primary"></i>
        </label>
        <input *ngIf="config.filtering" placeholder="Filter all columns" required="false" [(ngModel)]="myFilterValue" [ngTableFiltering]="config.filtering"
          class="form-control select-pages" (tableChanged)="onChangeTable(config)" />
        <label style="font-size:100%" [ngClass]="length > 0 ? ['label label-info'] : ['label label-warning']">{{length}} Results</label>
      </div>
      <div class="col-md-3 text-right">
        <span style="margin-left: 20px"> Items per page: </span>
        <select class="select-pages" style="width:auto" [ngModel]="itemsPerPage || 'All'" (ngModelChange)="changeItemsPerPage($event)">
          <option *ngFor="let option of itemsPerPageOptions" style="padding-left:2px" [value]="option.value">{{option.title}}</option>
        </select>
      </div>
    </div>
    <div class="row well" *ngIf="isRequesting === false" style="margin-top: 10px; padding: 10px 0px 10px 15px;">
      <span> Status: </span>
      <label style="font-size:100%" [ngClass]="['label label-success']" (click)="toogleActiveFilter('active')" container="body"
        tooltip="Filter actived devices">{{activeDevices}} Actived
        <i [ngClass]="activeFilter === true ? ['glyphicon glyphicon-ok'] : ['glyphicon glyphicon-unchecked']"></i>
      </label>
      <label style="font-size:100%;margin-left:15px" [ngClass]="['label label-danger']" (click)="toogleActiveFilter('deactive')"
        container="body" tooltip="Filter deactived devices">{{length - activeDevices}} Deactived
        <i [ngClass]="deactiveFilter === true ? ['glyphicon glyphicon-ok'] : ['glyphicon glyphicon-unchecked']"></i>
      </label>
      <label *ngIf="noConnectedDevices > 0" [ngClass]="['label label-warning']" style="margin-left:15px; font-size:100%" (click)="toogleActiveFilter('noconnected')"
        tooltip="Filter actived but no connected devices">
        <i class="glyphicon glyphicon-warning-sign"></i> Warning {{noConnectedDevices}} {{noConnectedDevices > 1 ? 'devices' : 'device'}} trying to connect...
        <i [ngClass]="noConnectedFilter === true ? ['glyphicon glyphicon-ok'] : ['glyphicon glyphicon-unchecked']"></i>
      </label>
    </div>
    <br>
    <my-spinner [isRunning]="isRequesting"></my-spinner>
    <ng-table *ngIf="isRequesting === false" [config]="config" (tableChanged)="onChangeTable(config)" (extraActionClicked)="onExtraActionClicked($event)"
      (viewedItem)="initRuntimeInfo($event.ID,null, true)" (editedItem)="editMeasGroup($event)" (removedItem)="removeItem($event)"
      [showCustom]="false" [showStatus]="true" [rows]="rows" [columns]="columns" [extraActions]="extraActions">
    </ng-table>
    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
      [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
    </pagination>
    <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
  </ng-template>
  <ng-template ngSwitchCase="view">
    <div class="well">
      <label [tooltip]="'Back to list'" container="body" style="font-size:130%; margin-top:10px; border-right: 1px solid; padding-right: 5px;">
        <i class="text-primary glyphicon glyphicon-tasks" (click)="reloadData()"></i>
      </label>
      <ng-container *ngIf="runtime_dev">
        <label [tooltip]="'Refresh'" container="body" style="margin-top:10px; font-size:130%; border-right: 1px solid; padding-right: 5px;">
          <i class="glyphicon glyphicon-refresh" (click)="initRuntimeInfo(runtime_dev.ID,measActive)"></i>
        </label>
        <h4 style="display:inline; border-right: 1px solid; padding-right: 5px" [ngClass]="runtime_dev['DeviceConnected'] === false ? 'text-danger' : 'text-success' ">{{runtime_dev.ID}}</h4>
        <h4 *ngIf="runtime_dev['DeviceConnected'] == false" class="text-danger" style="display:inline; border-right: 1px solid; padding-right: 5px;">
          Device is not connected</h4>
        <label style="margin-left: 10px; font-size: 100%" class="label label-info" *ngFor="let tag of runtime_dev['TagMap'] | objectParser">
          {{tag.key}}:{{tag.value}}</label>
      </ng-container>
    </div>
    <my-spinner [isRunning]="isRequesting" message="Waiting for all devices to finish its gathering process..."></my-spinner>
    <tabset *ngIf="runtime_dev">
      <tab heading="Overview">
        <br>
        <div class="col-md-12" *ngIf="isRequesting == false">
          <div class="col-md-12" *ngIf="runtime_dev">
            <div class="row">
              <div class="col-md-6" *ngIf="runtime_dev['DeviceConnected'] !== false">
                <div class="panel panel-default" style="padding-left: 0px; padding-right: 0px;">
                  <div class="panel-heading">
                    <span class="text-primary glyphicon glyphicon-dashboard" style="margin-top: 2px; margin-right: 10px"></span>Statistics Device</div>
                  <div class="panel-body">
                    <table class="table-striped table-bordered" style="width: 100%">
                      <tr>
                        <span style="padding-right:10px"> Reload Loop Pending</span>
                        <td style="padding-left:10px">{{ runtime_dev['Stats'].ReloadLoopsPending }}</td>
                      </tr>
                      <ng-template ngFor let-item [ngForOf]="counterDef" let-i="index">
                        <tr *ngIf="item.show">
                          <span class="glyphicon glyphicon-question-sign" tooltip="{{item.tooltip}}"></span>
                          <span style="padding-right:10px"> {{item.label}} </span>
                          <td *ngIf="item.type=='counter'" style="padding-left:10px">{{runtime_dev['Stats']['Counters'][i]}}</td>
                          <td *ngIf="item.type=='time'" style="padding-left:10px">{{ runtime_dev['Stats']['Counters'][i]*1000 | date:'yyyy/M/d HH:mm:ss' }}
                          </td>
                          <td *ngIf="item.type=='duration'" style="padding-left:10px">{{runtime_dev['Stats']['Counters'][i] | elapsedseconds:3 }}</td>
                        </tr>
                      </ng-template>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-default" style="padding-bottom: 0px">
                  <div class="panel-heading">
                    <span class="text-primary glyphicon glyphicon-cog" style="margin-top: 2px; margin-right: 10px"></span>Runtime Operations</div>
                  <div class="panel-body">
                    <ul class="list-group">
                      <!--  Device Gather Process State -->
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-7 text-left">
                            <span> Device Gathering Process</span>
                            <span class="glyphicon glyphicon-question-sign" tooltip="Enable or disable the Gathering Process(only online not saved in the configuration database)"></span>
                          </div>
                          <div class="col-md-5 text-right">
                            <button type="button" (click)="runtime_dev.DeviceActive ? changeActiveDevice(runtime_dev.ID,false) : changeActiveDevice(runtime_dev.ID,true)"
                              [ngClass]="runtime_dev.DeviceActive ? 'btn btn-danger' : 'btn btn-success'">{{runtime_dev.DeviceActive ? 'Disable' : 'Enable'}}</button>
                          </div>
                        </div>
                      </li>
                      <!--  Device Force Gather  -->
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-7 text-left">
                            <span> Force Gather/Process Now (be careful)</span>
                            <span class="glyphicon glyphicon-question-sign" tooltip="Force the complete gathering of the data for this device (usefull when  testing on non active devices)"></span>
                          </div>
                          <div class="col-md-5 text-right">
                            <button type="button" (click)="forceGatherData(runtime_dev.ID)" [ngClass]="'btn btn-primary'">Gather Now</button>
                          </div>
                        </div>
                      </li>
                      <!--  Device Log Level -->
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-7 text-left">
                            <span>Device Log Level</span>
                            <span class="glyphicon glyphicon-question-sign" tooltip="Change log level of the device (only online not saved in the configuration database)"></span>
                            <select style="width:100px" [(ngModel)]="runtime_dev.CurLogLevel" (ngModelChange)="onChangeLogLevel($event)" [ngModelOptions]="{standalone: true}">
                              <option style="padding-left:2px" *ngFor="let loglevel of loglLevelArray" [value]="loglevel">{{loglevel}}</option>
                            </select>
                          </div>
                          <div class="col-md-5 text-right">
                            <button type="button" (click)="changeLogLevel(runtime_dev.ID)" [disabled]="!islogLevelChanged" [ngClass]="'btn btn-primary'">Change</button>
                          </div>
                        </div>
                      </li>
                      <!--  Dowload Device Log File-->
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-7 text-left">
                            <span>Download Device Log file</span>
                            <span class="glyphicon glyphicon-question-sign" tooltip="Download the device related log file"></span>
                          </div>
                          <div class="col-md-5 text-right">
                            <button type="button" (click)="downloadLogFile(runtime_dev.ID)" [ngClass]="'btn btn-primary'">Download</button>
                          </div>
                        </div>
                      </li>
                      <!--  Force Dev Scan Update -->
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-8 text-left">
                            <span>Force Dev Scan Update</span>
                            <span class="glyphicon glyphicon-question-sign" tooltip="Force Filter update on next gathering cycle "></span>
                            <span>Pending Cycles: {{ runtime_dev['Stats'].ReloadLoopsPending }} </span>
                          </div>
                          <div class="col-md-4 text-right">
                            <button type="button" (click)="forceDevScan(runtime_dev.ID)" [ngClass]="'btn btn-primary'">Force Now</button>
                          </div>
                        </div>
                      </li>
                      <!--  Device Protocol Debug -->
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-7 text-left">
                            <span>Device Connection Protocol Debug</span>
                            <span class="glyphicon glyphicon-question-sign" tooltip="Enable or disable the Device Connection Protocol Debug (only online not saved in the configuration database)"></span>
                          </div>
                          <div class="col-md-5 text-right">
                            <button type="button" (click)="runtime_dev.StateDebug ? changeStateDebug(runtime_dev.ID,false) : changeStateDebug(runtime_dev.ID,true)"
                              [ngClass]="runtime_dev.StateDebug ? 'btn btn-danger' : 'btn btn-success'">{{runtime_dev.StateDebug ? 'Disable' : 'Enable'}}</button>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab *ngIf="runtime_dev['Type'] == '*nmon.Server'" heading="NMON Statistics">
        <br>
        <div class="row" *ngIf="runtime_dev">
          <div *ngIf="runtime_dev['NmonFile']" class="col-md-12" style="margin-left:10px">
            <div class="col-md-12">
              <div class="panel panel-default" style="padding-left: 0px; padding-right: 0px;">
                <div class="panel-heading">
                  <span class="text-primary glyphicon glyphicon-paste" style="margin-top: 2px; margin-right: 10px"></span>File Statistics
                </div>
                <div class="panel-body">
                  <div class="col-md-6">
                    <dl class="dl-horizontal">
                      <dt>Hostname</dt>
                      <dd>{{runtime_dev['NmonFile']['HostName']}}</dd>
                      <dt>Current File</dt>
                      <dd>{{runtime_dev['NmonFile']['CurFile']}}</dd>
                      <dt>LastTime</dt>
                      <dd>{{runtime_dev['NmonFile']['LastTime']}}</dd>
                    </dl>
                  </div>
                  <div class="col-md-6">
                    <dl class="dl-horizontal">
                      <dt>File Pattern</dt>
                      <dd>{{runtime_dev['NmonFile']['FilePattern']}}</dd>
                      <dt>Delimiter</dt>
                      <dd>{{runtime_dev['NmonFile']['Delimiter']}}</dd>
                    </dl>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 ">
              <div class="col-md-6 text-left">
                <ng-container *ngIf="selectedTab === 'pending'">
                  <span style="margin-left: 20px"> Items per page: </span>
                  <select class="select-pages" style="width:auto" [ngModel]="selected.itemsPerPage || 'All'" (ngModelChange)="$event !== 'All' ? selected.itemsPerPage = $event :  selected.itemsPerPage = null">
                    <option *ngFor="let option of itemsPerPageOptions" style="padding-left:2px" [value]="option.value">{{option.title}}</option>
                  </select>
                </ng-container>
              </div>
              <div class="col-md-6 text-right">
                <h4 class="text-right">
                  <label style="display: inline; margin-right:2px; padding-top:5px" container=body [tooltip]="'Refreshing every ' +runtime_dev.Freq +' secs'"
                    [ngClass]="isRefreshing ? 'label label-success refresh-transition' : 'label label-danger refresh-transition'">Last Refresh: {{refreshRuntime.LastUpdate | date : 'HH:mm:ss - Z'}}</label>
                  <label style="display: inline; margin-right:2px" [tooltip]="!refreshRuntime.Running ? 'Set auto-refresh' : 'Stop auto-refresh'"
                    [ngClass]="!refreshRuntime.Running ?  'glyphicon glyphicon-play label label-success' : 'glyphicon glyphicon-pause label label-danger'"
                    (click)="updateRuntimeInfo(runtime_dev.ID,measActive,!refreshRuntime.Running)"></label>
                  <label style="display: inline; margin-right:2px" [tooltip]="'Refresh now!'" container=body class="label label-primary glyphicon glyphicon-refresh"
                    (click)="initRuntimeInfo(runtime_dev.ID,measActive)"></label>
                </h4>
              </div>

            </div>
            <tabset>
              <tab heading="Sections" (select)="resetTabs('sections')">
                <ng-container *ngIf="selectedTab === 'sections'">

                  <br>
                  <ng-container *ngFor="let section of runtime_dev['NmonFile']['Sections'] | objectParser">
                    <div class="table-condensed">
                      <table class="table-bordered">
                        <tr>
                          <td class="btn btn-primary" [tooltip]="section.value['Description']" container=body>{{section.key}}</td>
                          <td *ngFor="let info of section.value['Columns']" style="padding: 0px 10px 0px 10px">{{info}}</td>
                        </tr>
                      </table>
                    </div>
                  </ng-container>
                </ng-container>

              </tab>
              <tab heading="Pending" (select)="resetTabs('pending')">
                <ng-container *ngIf="selectedTab === 'pending'">
                  <br>
                  <ng-container *ngFor="let pending of runtime_dev['NmonFile']['PendingLines'] | slice:(selected.page-1)*(selected.itemsPerPage ? selected.itemsPerPage : 0): (selected.itemsPerPage ? selected.page*selected.itemsPerPage : runtime_dev['NmonFile']['PendingLines'].length)">
                    <div class="table-condensed">
                      <table class="table-bordered">
                        <tr>
                          <td style="padding: 5px 18px 5px 18px">{{pending}}</td>
                        </tr>
                      </table>
                    </div>
                  </ng-container>
                  <!-- Pagination -->
                  <pagination class="pagination-sm" [ngModel]="page" [totalItems]="runtime_dev['NmonFile']['PendingLines'].length" [itemsPerPage]="selected.itemsPerPage"
                    [boundaryLinks]="false" [rotate]="false" (pageChanged)="selected = $event" (numPages)="numPages = $event">
                  </pagination>
                  <pre class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
                </ng-container>
              </tab>
              <tab heading="Text" (select)="resetTabs('text')">
                <ng-container *ngIf="selectedTab === 'text'">
                  <br>
                  <pre>
                    <ng-container *ngFor="let text of runtime_dev['NmonFile']['TextContent']"><p>{{text}}</p></ng-container>
                  </pre>
                </ng-container>
              </tab>
            </tabset>
          </div>
        </div>
      </tab>
      <tab *ngIf="runtime_dev['Type'] == '*hmc.HMCServer' && runtime_dev['System']" heading="HMC Server">
        <br>
        <h4 class="text-right">
          <label style="display: inline; margin-right:2px; padding-top:5px" container=body [tooltip]="'Refreshing every ' +runtime_dev.Freq +' secs'"
            [ngClass]="isRefreshing ? 'label label-success refresh-transition' : 'label label-danger refresh-transition'">Last Refresh: {{refreshRuntime.LastUpdate | date : 'HH:mm:ss - Z'}}</label>
          <label style="display: inline; margin-right:2px" [tooltip]="!refreshRuntime.Running ? 'Set auto-refresh' : 'Stop auto-refresh'"
            [ngClass]="!refreshRuntime.Running ?  'glyphicon glyphicon-play label label-success' : 'glyphicon glyphicon-pause label label-danger'"
            (click)="updateRuntimeInfo(runtime_dev.ID,measActive,!refreshRuntime.Running)"></label>
          <label style="display: inline; margin-right:2px" [tooltip]="'Refresh now!'" container=body class="label label-primary glyphicon glyphicon-refresh"
            (click)="initRuntimeInfo(runtime_dev.ID,measActive)"></label>
        </h4>
        <hr/>

        <ng-container *ngFor="let system of runtime_dev['System'] | objectParser">
          <ul>
            <li>{{system.value.SystemName}}
              <ng-container *ngFor="let fields of system.value | objectParser let i = index">
                <label class="label label-success" *ngIf="fields.key === 'State'">{{fields.value}}</label>
                <ng-container *ngIf="fields.key === 'Lpars'">
                  <ul>
                    <li>
                      <i [ngClass]="system.value.lparhidden == false ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus'" (click)="system.value.lparhidden == false ? system.value.lparhidden = true : system.value.lparhidden = false">
                      </i>
                      <span (click)="system.value.lparhidden == false ? system.value.lparhidden = true : system.value.lparhidden = false">LPARS</span>
                      <ng-container *ngIf="system.value['lparhidden'] === false">
                        <ng-container *ngFor="let lpar of fields.value | objectParser">
                          <ul>
                            <li>{{lpar.value.PartitionName}}
                              <ul>
                                <ng-container *ngFor="let t of lpar.value | objectParser">
                                  <li>{{t.key}} - {{t.value}}</li>
                                </ng-container>
                              </ul>
                            </li>
                          </ul>
                        </ng-container>
                      </ng-container>
                    </li>
                  </ul>
                </ng-container>
                <ng-container *ngIf="fields.key === 'Vios'">
                  <ul>
                    <li>
                      <i [ngClass]="system.value.viohidden == false ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus'" (click)="system.value.viohidden == false ? system.value.viohidden = true : system.value.viohidden = false">
                      </i>
                      <span>VIOS</span>
                      <ng-container *ngIf="system.value['viohidden'] === false">
                        <ng-container *ngFor="let vio of fields.value | objectParser">
                          <ul>
                            <li>{{vio.value.PartitionName}}
                              <ul>
                                <ng-container *ngFor="let t of vio.value | objectParser">
                                  <li>{{t.key}} - {{t.value}}</li>
                                </ng-container>
                              </ul>
                            </li>
                          </ul>
                        </ng-container>
                      </ng-container>
                    </li>
                  </ul>
                </ng-container>

              </ng-container>
            </li>
          </ul>
        </ng-container>
      </tab>
    </tabset>
  </ng-template>
</ng-container>